.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Varela Round', sans-serif;
}

.board {
  border: 2px solid #9b9b9b;
}
.row {display: flex;}

.tile {
  width: 20px;
  height: 20px;
  border: 2px solid #9b9b9b;
  background-color: #dddddd;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tile > * {display: none;}
.tile__revealed {
  background-color: #9b9b9b;
  border-color: #dddddd;
}
.tile__bombed > .bomb {display: block;}
.tile__flagged > .flag {display: block;}
.tile__counted > .count {display: block;}
